# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Virtual environment
.venv/
venv/
env/

# Environment variables - NEVER commit this
.env

# Django
*.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# uv
.uv/

# Logs
*.logtest_db.sqlite3
media/
staticfiles/
